<ul>
  <li><%= link_to "Bar Chart", bar_chart_path %></li>
  <li><%= link_to "Pie Chart", pie_chart_path %></li>
</ul>


<h3>HTML5 Canvas Ultimate Guide</h3>
<ul>
  <li><%= link_to "Hello World", hello_world_index_path %></li>
</ul>

